{% extends "pages/layout.html" %}

{% block title %} Receptník {% endblock %}
{% block og_image %}{{ request.url_root[:-1] + url_for('static', filename='img/square_meta_image.png') }}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="parallax" style="background-image: url({{ url_for('static', filename='img/food-parallax-1.webp') }})">
    </div>

    <h1>O aplikaci</h1>
    <div class="text">
        <p> Vítejte v našem receptníku!</p>

        <p>Už název by mohl napovědět, k čemu tento web slouží, ale pro jistotu to tu vysvětlíme, aby nedošlo k omylu.
            Na tomto portálu je možno hledat a prohlížet všechny možné recepty. Po registraci, ke které je potřeba pouze
            Vaše e-mailová adresa, je možné dané recepty vyhledávat, hodnotit a také přidávat své vlastní, o které se
            chcete se světem podělit.

        <p>Ovšem je tu to riziko, že Váš názor nebudou ostatní sdílet a k Vašemu receptu přistane hodnocení, které Vás
            nemusí potěšit. Svůj recept tedy můžete samozřejmě smazat a vylepšený přidat znovu, aby jste mohli získávat
            i lepší hodnocení.</p>

        <p>U jídel je jasně řečeno, která jsou např. bezlepková, bezlaktozová, bezmasá, a tak je možné vyhledávat
            recepty přesně podle těchto kritérií.</p>

        <p>U každého receptu je uveden nejen přesný postup, ingredience a jejich množství na počet porcí, ale také
            jestli se daný recept řadí mezi jednodušší nebo složitější na přípravu. Takto i případný začátečník má
            možnost vyhledávat recepty, které chce vyzkoušet a vyhnout se těm obtížnějším, na které by nestačil.</p>

        <p> Tak směle do toho! </p>
    </div>

    <h1>Nejoblíbenější recepty</h1>
    <div class="favorite-recipes">
        {% for recipe in favourite_recipes %}
            <a class="recipe" href="{{ url_for('web.recept', recept_id=recipe.recipe_id) }}">
                <div class="center-cropped-image">
                    {{ draw_recipe_image(recipe, '') }}
                </div>
                <div class="label">
                    <h2>{{ recipe.name }}</h2>
                    <div class="rating">
                        {{ draw_rating(recipe.get_rating()) }}
                        <h4>{{ recipe.rating }}</h4>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="parallax" style="background-image: url({{ url_for('static', filename='img/food-parallax-2.webp') }})">
    </div>

    <h1>Autoři aplikace</h1>
    <div class="text">
        <p>Tato aplikace vznikla jako týmový semestrální projekt studentů prvního ročníku Mendelovy univerzity. Autoři
            aplikace:</p>

        <table class="authors">
            <tr>
                <td>Petr Chatrný</td>
            </tr>
            <tr>
                <td>Lucie Pacáková</td>
            </tr>
            <tr>
                <td>Lucie Suchánková</td>
            </tr>
        </table>

        <p>Aplikace byla vytvořena v jazyce Python ve framworku Flask. Na backendu používá relační databázi
            PostgreSQL. Frontend aplikace byl vytvořen pomocí šablonovacího systému Jinja2, který využívá čisté HTML5,
            CSS3 a JavaScript.</p>
    </div>
{% endblock %}