{% extends "pages/layout.html" %}

{% block title %} Receptník {% endblock %}
{% block og_image %}{{ request.url_root[:-1] + url_for('static', filename='img/square_meta_image.png') }}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="parallax" style="background-image: url({{ url_for('static', filename='img/food-parallax-1.webp') }})">
    </div>

    <h1>O aplikaci</h1>
    <div class="text">
        <p> Vítejte v našem receptníku! </p>
        <p>Už název by mohl napovědět, k čemu tento web slouží, ale pro jistotu to tu vysvětlíme, aby nedošlo k omylu.
            Na tomto portálu je možno hledat a prohlížet všechny možné recepty.
            Po registraci, ke které je potřeba jen Vaše e-mailová adresa, je možné dané recepty hodnotit a také přidávat
            své vlastní, o které byste se se světem rádi podělili.
            Ovšem je tu to riziko, že Váš názor nebudou ostatní sdílet, k Vašemu receptu přistane hodnocení, které Vás
            nemusí potěšit,
            ovšem vždycky svůj recept můžete samozřejmě smazat a nebo ho vylepšit, poté u nás upravit a získávat třeba i
            lepší hodnocení.
            Nebo můžete zkusit recept daného protivníka a doufat, že dle vašeho názoru bude také zlý a příkoří mu
            oplatit. Ovšem ocenili bychom konstruktivní a nezkreslenou kritiku vašimi dojmy. </p>

        <p>U jídel je jasně řečeno, která jsou např. bezlepková, bezlaktozová, bezmasá, a právě proto je možno si
            nastavit filry a vyhledávat tak jednodušeji a podle Vašich představ.
            U každého receptu je uveden nejen přesný postup, ingredience a jejich množství n a počet porcí, ale také je
            uvedeno, zda se daný recept řadí mezi jednodušší nebo složitější,
            takže se i případný začátečník má možnost vyhnout případným nečekaným potížím, které by pramenily z mála
            zkušeností. </p>


        <p> Tak směle do toho! </p>
    </div>

    <h1>Nejoblíbenější recepty</h1>
    <div class="favorite-recipes">
        {% for recipe in favourite_recipes %}
            <a class="recipe" href="{{ url_for('web.recept', recept_id=recipe.recipe_id) }}">
                <div class="center-cropped-image">
                    {{ draw_recipe_image(recipe, '') }}
                </div>
                <div class="label">
                    <h2>{{ recipe.name }}</h2>
                    <div class="rating">
                        {{ draw_rating(recipe.get_rating()) }}
                        <h4>{{ recipe.rating }}</h4>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="parallax" style="background-image: url({{ url_for('static', filename='img/food-parallax-2.webp') }})">
    </div>

    <h1>Autoři aplikace</h1>
    <div class="text">
        <p>Tuto aplikaci vytváří dvě neskutečné bedny, kterým mozek pracuje neskuečně rychle - Lucie Pacáková a Petr
            Chatrný - a jeden podprůměrný student (pro jeho bezpečí a klid nebudeme jmenovat),
            co se marně pokouší tyto dvě bedny stíhat a svými dadaistickými pokusy (po většinu času připomínající dílo
            Fontána od Marcela Duchampa) jim to moc nekazit,
            což se ne vždy daří, takže u toho pak pravidelně brečí, jak malé děcko. </p>

        <p> Pro lepší představu je to, jak kdybyste vedle sebe položili procesor Intel Core i9-12900K a Intel Pentium
            A80501-60 SX835. </p>

        <p> Všichni tři jsou prvním rokem studenty Mendelovy univerzity v Brně, oboru Otevřená informatika a aplikaci
            vytváří v rámci projektu do jednoho z předmětů. </p>
    </div>
{% endblock %}