{% extends "pages/layout.html" %}

{% block title %} Nové heslo {% endblock %}
{% block og_image %}{{ request.url_root[:-1] + url_for('static', filename='img/square_meta_image.png') }}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="form-block">
        <!-- HEADING -->
        <div class="heading-line">
            <h2>Nové heslo</h2>
            <div class="status">
                <div class="status-icon"></div>
                <div class="status-message"></div>
            </div>
        </div>

        <!-- FORM -->
        <form method="post" onsubmit="newPassword(event)">
            <input name="code" type="text" value="{{ code }}" placeholder="Bezpečnostní kód"
                   style="display: none" required>
            <label>
                Nové heslo
                <input name="password" type="password" placeholder="Nové heslo" required>
            </label>
            <label>
                Nové heslo znovu
                <input name="password_confirm" type="password" placeholder="Nové heslo znovu" required>
            </label>
            <div class="button-line">
                <button type="submit" class="red-button submit-button">Nastavit heslo</button>
            </div>
        </form>
    </div>
{% endblock %}
