{% extends "pages/layout.html" %}

{% block title %} Obnova hesla {% endblock %}
{% block og_image %}{{ request.url_root[:-1] + url_for('static', filename='img/square_meta_image.png') }}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="form-block">
        <!-- HEADING -->
        <div class="heading-line">
            <h2>Obnova hesla</h2>
            <div class="status">
                <div class="status-icon"></div>
                <div class="status-message"></div>
            </div>
        </div>

        <!-- FORM -->
        <form method="post" onsubmit="event.preventDefault(); resetPassword(event)">
            <p class="text" style="margin: 10px auto;">Pokud jste zapomněli Vaše heslo, stačí zadat Váš email a zažádat
                o jeho obnovu. Následně budete přesměrováni na formulář nastavení nového hesla. </p>
            <p class="text" style="margin: 10px auto;">Do formuláře je nutné zadat nové heslo a bezpečnostní kód.
                Ten naleznete ve své emailové schránce - ve zprávě z našeho systému.</p>
            <label>
                Email
                <input name="email" type="email" placeholder="Email" required>
            </label>
            <div class="button-line">
                <button type="submit" class="red-button submit-button">Obnovit heslo</button>
            </div>
        </form>
    </div>
{% endblock %}